$colors: (
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 95%),
        800: hsl(0, 0%, 50%),
        900: hsl(0, 0%, 20%),
    ),
    tables: (
        100: hsl(0, 0%, 85%),
        900: hsl(0, 65%, 50%),
    ),
    success: (
        100: hsl(135, 85%, 35%), /* hover */
        400: hsl(135, 80%, 25%),
    ),
    edit: (
        100: hsl(193, 90%, 45%), /* hover */
        400: hsl(193, 85%, 35%),
    ),
    link: (
        100: hsl(180, 85%, 35%), /* hover */
        400: hsl(180, 80%, 25%),
    ),
);


