$transition: all 350ms ease-in-out;
$border-radius: var(--5);

@mixin pseudo(
	$location: before,
	$content: "",
	$position: absolute,
	$t: 0,
	$r: 0,
	$b: 0,
	$l: 0
) {
	position: relative;
	&::#{$location} {
		content: $content;
		position: $position;
        top: $t;
        right: $r;
        bottom: $b;
        left: $l;
		@content;
	}
}

@mixin btn(
	$txt-color: var(--neutral-900),
	$bg-color: transparent,
	$txt-color-hover: var(--neutral-900),
	$bg-color-hover: transparent
) {
	color: $txt-color;
	background-color: $bg-color;
	&:hover {
		color: $txt-color-hover;
		background-color: $bg-color-hover;
	}
}

@mixin flex(
	$direction: row,
	$content: space-between,
	$items: center,
	$gap: 0,
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $items;
	gap: $gap;
}