$transition: all 350ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
$border-radius: var(--5);

@mixin pseudo(
	$location: before,
	$content: "",
	$position: absolute,
	$t: 0,
	$r: 0,
	$b: 0,
	$l: 0
) {
	position: relative;
	&::#{$location} {
		content: $content;
		position: $position;
        top: $t;
        right: $r;
        bottom: $b;
        left: $l;
		@content;
	}
}
