<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Descubre OrderFlow, la app web ideal para meseros. Organiza tus turnos, gestiona pedidos y registra propinas, todo de manera sencilla y eficiente." />
		<meta
			name="keywords"
			content="app para meseros, gestión de pedidos, registro de propinas, OrderFlow" />
		<meta
			name="author"
			content="Albana Meloni" />
		<meta
			name="robots"
			content="index, follow" />

		<!-- Open Graph Tags -->
		<meta
			property="og:title"
			content="OrderFlow: App para Meseros" />
		<meta
			property="og:description"
			content="Gestión de pedidos y propinas - OrderFlow" />
		<meta
			property="og:image"
			content="../assets/img/logo-light.png" />
		<!-- <meta
			property="og:url"
			content="https://tuurl.com" /> -->
		<meta
			property="og:type"
			content="website" />
		<title>OrderFlow</title>
		<link
			rel="stylesheet"
			href="../css/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<button
					type="button"
					class="btn-menu btn-menu__user"
					id="user-btn"
					aria-controls="user-menu"
					aria-expanded="false">
					<span class="sr-only">usuario</span>
				</button>
				<p>Selecciona una mesa</p>
				<button
					type="button"
					class="btn-menu btn-menu__orders"
					id="orders-btn"
					aria-controls="orders-menu"
					aria-expanded="false">
					<span class="sr-only">pedidos</span>
				</button>
			</nav>
		</header>
		<div
			class="side-menu side-menu__user"
			id="user-menu"
			aria-hidden="true">
			<div class="side-menu__content">
				<p>Información de usuario</p>
				<hr />
				<div
					class="mb-6"
					id="orders-div">
					<p>
						💪🏻 Pedidos completados: <span id="orders-count">00/00</span>
					</p>
					<small></small>
				</div>
				<div
					class="mb-6"
					id="tip-div">
					<p>🤑 Propina total: <span id="tip-count">$00/$00</span></p>
					<small></small>
				</div>
			</div>
			<div class="side-menu__bottom">
				<button
					type="button"
					class="btn btn-primary">
					<img
						src="../assets/icons/settings.svg"
						alt="Configuración" />
				</button>
				<a
					href="../index.html"
					class="btn btn-primary">
					<img
						src="../assets/icons/log-out.svg"
						alt="Cerrar sesión" />
				</a>
			</div>
		</div>
		<div
			class="side-menu side-menu__orders"
			id="orders-menu"
			aria-hidden="true">
			<div class="side-menu__content">
				<p>Pedidos activos</p>
				<hr />
				<div>
					<p class="txt-center">
						Aún no tenés pedidos activos, ¿bendición o condena? 🥲
					</p>
				</div>
			</div>
			<div class="side-menu__bottom">
				<div>
					<span class="circle"></span>
					<small>Podrías acercarte!</small>
				</div>
				<button
					type="button"
					class="btn btn-primary">
					<img
						src="../assets/icons/clock.svg"
						alt="Historial" />
				</button>
			</div>
		</div>
		<main>
			<div
				class="badge-group"
				id="sections"></div>
			<hr style="border: 1px solid #d9d9d9; margin: 0" />
			<section
				id="table-selector"
				class="table-selector"></section>
			<form
				action="#"
				class="form"
				autocomplete="off">
			</form>
		</main>

		<script
			src="../js/main.js"
			async></script>
	</body>
</html>
