<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Descubre OrderFlow, la app web ideal para meseros. Organiza tus turnos, gestiona pedidos y registra propinas, todo de manera sencilla y eficiente." />
		<meta
			name="keywords"
			content="app para meseros, gestión de pedidos, registro de propinas, OrderFlow" />
		<meta
			name="author"
			content="Albana Meloni" />
		<meta
			name="robots"
			content="index, follow" />

		<!-- Open Graph Tags -->
		<meta
			property="og:title"
			content="OrderFlow: App para Meseros" />
		<meta
			property="og:description"
			content="Gestión de pedidos y propinas - OrderFlow" />
		<meta
			property="og:image"
			content="../assets/img/logo-light.png" />
		<!-- <meta
			property="og:url"
			content="https://tuurl.com" /> -->
		<meta
			property="og:type"
			content="website" />
		<title>OrderFlow</title>
		<link
			rel="stylesheet"
			href="../css/style.css" />
	</head>
	<body>
		<main>
			<div class="py-8">
				<h1 class="title txt-center">OrderFlow</h1>
				<p class="txt-center pt-1">
					Controla tus pedidos, mejora tus propinas
				</p>
			</div>
		</main>

	</body>
</html>
