<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Descubre OrderFlow, la app web ideal para meseros. Organiza tus turnos, gestiona pedidos y registra propinas, todo de manera sencilla y eficiente." />
		<meta
			name="keywords"
			content="app para meseros, gestión de pedidos, registro de propinas, OrderFlow" />
		<meta
			name="author"
			content="Albana Meloni" />
		<meta
			name="robots"
			content="index, follow" />

		<!-- Open Graph Tags -->
		<meta
			property="og:title"
			content="OrderFlow: App para Meseros" />
		<meta
			property="og:description"
			content="Gestión de pedidos y propinas - OrderFlow" />
		<meta
			property="og:image"
			content="../assets/img/logo-light.png" />
		<!-- <meta
			property="og:url"
			content="https://tuurl.com" /> -->
		<meta
			property="og:type"
			content="website" />
		<title>OrderFlow</title>
		<link
			rel="stylesheet"
			href="../css/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<button
					type="button"
					class="btn-menu btn-menu__back"
					id="go-back">
					<span class="sr-only">volver atrás</span>
				</button>
				<p>Gestión - Mesa <span id="table-number"></span></p>
				<button
					type="button"
					class="btn-menu btn-menu__save"
					id="save-changes">
					<span class="sr-only">guardar cambios</span>
				</button>
			</nav>
		</header>
		<!-- <div
			class="side-menu side-menu__stages"
			id="stages-menu"
			aria-hidden="true">
			<div class="side-menu__content"></div>
			<div class="side-menu__bottom"></div>
		</div> -->
		<main>
			<p
				class="txt-center"
				style="color: var(--neutral-600)"
				id="section"></p>
			<section
				class="form mt-7"
				id="register-access">
				<div class="input-flex">
					<label
						for="order-stage"
						class="input-label"
						>Estado actual:</label
					>
					<select
						id="order-stage"
						class="input">
						<option
							value="Eligiendo del menú"
							disabled
							selected>
							Eligiendo del menú
						</option>
						<option value="Pedido realizado">Pedido realizado</option>
						<option value="Comida recibida">Comida recibida</option>
						<option value="2do tiempo">2do tiempo</option>
						<option value="3er tiempo">3er tiempo</option>
						<option value="Postre">Postre</option>
						<option value="Pedido pagado">Pedido pagado</option>
					</select>
				</div>
				<div class="input-flex">
					<label
						for="people"
						class="input-label"
						>Personas:</label
					>
					<input
						type="number"
						class="input"
						id="people"
						placeholder="Cantidad de personas"
						min="1" />
				</div>
				<div class="input-flex">
					<label
						for="tip"
						class="input-label"
						>Propina:</label
					>
					<input
						type="number"
						class="input"
						id="tip"
						placeholder="Bloqueado por ahora"
						disabled
						min="0" />
				</div>
				<button
					type="button"
					class="btn btn-edit"
					id="modal-btn"
					aria-controls="order-modal"
					aria-expanded="false">
					Cargar pedido
				</button>
			</section>
			<section class="product-container mt-5"></section>
			<!-- <button
				type="button"
				class="btn btn-success mt-8 m-auto"
				style="display: block"
				id="save-changes">
				Guardar cambios
			</button> -->
		</main>

		<div
			class="modal"
			id="order-modal"
			aria-hidden="true">
			<div class="modal__top">
				<button
					type="button"
					class="btn"
					id="close-modal"
					aria-controls="order-modal">
					<span class="sr-only">cerrar</span>
				</button>
			</div>
			<textarea
				name="order"
				id="order"
				placeholder="Para escribir unidades: PRODUCTO x(CANTIDAD). Si es una sola no poner nada!"></textarea>
			<div class="modal__bottom">
				<button
					type="button"
					class="btn btn-success"
					id="save-modal">
					Guardar
				</button>
			</div>
		</div>

		<div
			class="modal"
			id="popup"
			aria-hidden="true">
			<div class="modal__top">
				<button
					type="button"
					class="btn"
					id="close-popup"
					aria-controls="popup">
					<span class="sr-only">cerrar</span>
				</button>
			</div>
			<p class="mt-5 mb-6">
				No se guardó ningún cambio en la gestión de mesa, si regresas se
				borrarán los cambios.
			</p>
			<div class="modal__bottom">
				<a
					href="./main.html"
					class="btn btn-primary"
					id="close-table">
					Cerrar
				</a>
			</div>
		</div>
		<script src="../js/table.js"></script>
	</body>
</html>
