@use "../abstracts/variables" as *;

.form {
    @include flex($direction: column);
	position: relative;
	margin-inline: auto;
	max-width: calc(var(--l) + var(--7));
	.input {
        border: 0;
        outline: 0;
		width: 100%;
		height: var(--8);
		background-color: var(--neutral-100);
		border-radius: $border-radius;
		padding-left: var(--5);
		margin-bottom: var(--6);
		&::placeholder {
			color: var(--neutral-600);
		}
		&:focus {
			outline: 2px solid var(--neutral-800);
		}
	}
	select.input {
		padding-left: var(--3);
	}
	.input-label {
		display: block;
		width: 50%;
		line-height: 1;
		margin-bottom: var(--2);
	}
	.input-pin {
		@include flex($gap: var(--5));
		& > .input {
			padding: 0;
			width: var(--8);
			text-align: center;
			&::-webkit-inner-spin-button {
				appearance: none;
			}
		}
	}
	.btn-primary {
		margin-top: var(--7);
		margin-left: auto;
		margin-right: auto;
	}
    .input-flex {
        @include flex($gap: var(--2));
		width: 100%;
        align-self: self-start;
        .input-label,
		.input {
            margin: 0;
        }
		margin-bottom: var(--6);
    }
}